/*--dialog*/
.ui-dialog { position:fixed; top:50%; left:50%; width:600px; transform:translate(-50%,-50%); border-radius:14px; background:#fff; }
.ui-dialog-success { }
.ui-dialog-info { }
.ui-dialog-close, .ui-dialog-link { }
.ui-dialog-close { display: none; font-size: 1.5rem; position: absolute; top: 4px; right: 8px; color: inherit; opacity: .4 }
.ui-dialog-close:hover { text-decoration: none; color: inherit; opacity: 1 }
.ui-dialog-dismissible .ui-dialog-close { display:none; }
.ui-dialog-hd { padding:52px 68px; font-size:45px; color:#000;}
.ui-dialog-bd { padding:43px; text-align:center; color:#666; }
.ui-dialog-ft { display:flex; text-align:center; background:#f5f5f5; border-radius:0 0 14px 14px; color:#5c5c5c; }
.ui-dialog-ft-item { flex:1; height:90px; line-height:90px;  }
.ui-dialog-danger, .ui-dialog-error .ui-dialog-hd { }